* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    height: 100vh;
}

.sky {
    background-color: #87CEEB;

}

.ston {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/Stone1.jpg);
    background-size: cover;
}

.lend {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/soil4.png);
    background-size: cover;
}

.tree {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/wood1.png);
    background-size: cover;
}

.leaves {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/leaves1.png);
    background-size: cover;
}

#contaner {
    display: grid;
    grid-template-columns: repeat(auto-fit, 2%);
    margin: 0%;
    height: 80vh;
}

#contaner div:hover {
    border: solid 0.5px black;
}

footer {
    position: absolute;
    background-color: black;
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(68, 68, 68);
    padding: 5px;
    border: solid 0.5px black;
}

a:hover {
    background-color: brown;
}

.t {
    box-sizing: border-box;
    /* background-color: rgb(177, 16, 16); */
    height: 50px;
    width: 50px;
    background-size: cover;
    background-color: dimgray;
    border-radius: 5px;
    margin: 2px;
}

#axe {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/axe.png);
}

#shovel {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/shovel.png);
}

#pickaxe {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/pickaxe.png);

}

#sword {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/sword.png);
}



#tools {
    /* background-color: white; */
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box {
    background-image: url(https://2d-minecraft-game.vercel.app/assets/box.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}

.items div {
    display: none;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    background-size: cover;

}

.itemsplye {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    height: 150px;
    width: 150px;
}

.mobil {
    position: absolute;
    top: 15vh;
    left: 30vw;
    background-color: white;
    height: 30px;
    width: 30px;
}

#store {
    background-image: url(../imegs/store_2952650.png);
    background-color: dimgray;
    border-radius: 5px;
    background-size: cover;
    height: 50px;
    width: 50px;
}

.warehouse {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    width: 150px;
    height: 100px;
}

#wallet {
    display: flex;
    align-items: center;
    /* background-image: url(../imegs/coin.png); */
    background-color: dimgray;
    /* background-size: cover; */
    /* height: 30px; */
    /* width: 30px; */
    padding: 3px;
    border-radius: 5px;
}

#wallet img{
    height: 25px;
}